* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  user-select: none;
  user-zoom: none;
}

:root {

  /* SPACING */
  --max-width: 144px;
  --min-width: 768px;

  /* MAIN COLORS */
  --main-indigo: #460483;
  --main-white: #fff;
  --dirty-white: #f5f5f5;
  --txt-black: #000;
  --txt-fade: #1c1c1c;

  /* SECONDARY COLORS */
  --lemon-green: #32cd32;
  --lime-green: #20e820df;
  --tomato-red: #ff6347;  

  /* SCREEN SIZES */
  --desktop-screens: 1440px;
  --laptop-screens: 1276px;
  --tablet-screens: 768px;
  --small-screens: 480px;
  --xs-small-screens: 360px;


  /* DESKTOP TYPOGRAPHY */
  --small-txt: 12px;
  --medium-txt: 14px;
  --body-sm-txt: 16px;
  --body-md-txt: 18px;
  --subtitle-txt: var(var(--body-md-txt));
  --title-sm-txt: 24px;
  --title-md-txt: 28px;
  --main-sm-title: 32px;
  --main-md-title: 38px;
  --main-lg-title: 42px;
  --main-xl-title: 48px;
  --main-xxl-title: 64px;
  --main-xxxl-title: 70px;

  /* MOBILE TYPOGRAPHY */
  --mobile-small-txt: 12px;
  --mobile-details-txt: 14px;
  --mobile-body-txt: 16px;
  --mobile-subtitle-txt: 18px; 
  --mobile-title-txt: 28px; 
  --mobile-header-txt: 38px; 
}